<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="./static/global.css">
</head>

<body>
    <h1>Welcome, Admin!</h1>
    <p>This is the admin screen.</p>
    <h2>Users:</h2>
    <ul>
        {% for user in session['users'] %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    <a href="/home">Back to Home</a>
</body>

</html>
